doctype html 
html 
    head 
        link(rel="stylesheet", href=`${process.env.HREF}`, integrity=`${process.env.INTERGRITY}`, crossorigin="anonymous")
        title Ice Cream 
    body 
        header 
            h1 Ice Cream
        main 
            block content
        include ../partials/footer