doctype html 
html 
    head 
        link(rel="stylesheet", href=`${process.env.HREF}`, integrity=`${process.env.INTERGRITY}`, crossorigin="anonymous")
        title #{siteName}
    body 
        include ../partials/header
        main 
            block content
        include ../partials/footer