.comment-mixin {
  color: black;
  .comment-mixin__data {
    padding: 0px 15px;
    .comment-mixin__comment--date {
      float: right;
      font-size: 12px;
    }
    .comment-mixin__title {
      font-size: 18px;
      display: block;
      margin-top: 10px;
    }
    .comment-mixin__meta {
      margin-top: 2px;
      font-size: 12px;
      border-bottom: 1px solid rgb(230, 228, 228);
      padding-bottom: 10px;
      .comment-mixin__comment {
        margin-top: 10px;
        margin-bottom: 2px;
        font-size: 14px;
        display: flex;
        .comment-mixin__comment-colon {
          float: left;
        }
        .comment-mixin__comment-text {
          float: right;
        }
      }
    }
  }
}
