.homepost-mixin {
  height: 320px;
  border-radius: 10px;
  display: inline-block;
  margin-top: 30px;
  margin-left: 30px;
  margin-bottom: 30px;
  padding: 0px 20px;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow: hidden;
  font-size: 0px;
  .homepost-mixin__data {
    padding: 0px 15px;
    color: grey;
    .homepost-mixin__title {
      font-size: 18px;
      display: block;
      margin-top: 20px;
      padding-bottom: 16px;
      max-width: 180px;
      white-space: pre-line;
    }
    .homepost-mixin__main-content {
      text-align: center;
      margin-bottom: 18px;
      .homepost-mixin__image {
        height: 200px;
        width: auto;
      }
      .homepost-mixin__video {
        height: 200px;
        width: auto;
      }
      .homepost-mixin__content {
        height: 200px;
        max-width: 180px;
        display: table;
        p {
          display: table-cell;
          vertical-align: middle;
          white-space: pre-line;
          font-size: 16px;
        }
      }
    }
    .homepost-mixin__meta {
      margin-top: 7px;
      font-size: 12px;
    }
  }
  .homepost-mixin__hashtags {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.12px;
    height: 22px;
    margin-top: 7px;
    span.home__hashtag {
      display: inline-block;
      color: rgba(0, 0, 0, 0.5);
      background: rgba(0, 0, 0, 0.05);
      border-radius: 2px;
      margin-right: 6px;
      padding: 3px 8px;
    }
  }
}
