.homepost-mixin {
  height: 290px;
  border-radius: 15px;
  display: inline-block;
  margin-top: 30px;
  margin-left: 30px;
  margin-bottom: 30px;
  padding: 0px 20px;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow: hidden;
  .homepost-mixin__data {
    padding: 0px 15px;
    color: grey;
    .homepost-mixin__title {
      font-size: 18px;
      display: block;
      margin-top: 10px;
    }
    .homepost-mixin__image {
      height: 200px;
      width: auto;
    }
    .homepost-mixin__video {
      height: 200px;
      width: auto;
    }
    .homepost-mixin__meta {
      margin-top: 5px;
      font-size: 12px;
    }
  }
}
