.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.not_found {
  margin-bottom: 50px;
  font-size: 18px;
}

h1.home {
  font-size: 20px;
}

span.empty__message {
  color: rgba(0, 0, 0, 0.8);
}
