.change-avatar {
  transform: translate(50, 50);
  object-fit: cover;
}

.delete__profile-image {
  margin-top: 5px;
  color: black;
  background: rgba(0, 0, 0, 0.05);
  border: none;
}

.edit-profile__form {
  label {
    font-size: 14px;
    margin-bottom: 10px;
    display: block;
  }
  #delete__image {
    cursor: pointer;
  }
}

.change-password {
  margin-top: 50px;
  text-align: center;
  a {
    color: white;
  }
}
