body {
  margin: 0;
  .post__bookmark {
    width: 100%;
    height: 40px;
    i {
      float: right;
      font-size: 20px;
    }
  }
  .post__bookmarked {
    width: 100%;
    height: 40px;
    i {
      float: right;
      font-size: 20px;
    }
  }
  .post__title {
    text-align: left;
    margin-bottom: 20px;
    h2 {
      font-size: 20px;
    }
  }
  .container {
    visibility: hidden;
    transition: transform 0.5s;
    margin: 0 auto;
    .slide_wrap {
      height: 500px;
      overflow: hidden;
      .slide {
        position: relative;
        display: flex;
        height: 500px;
      }
    }
    .button_wrap {
      width: 50px;
      height: 30px;
      margin: auto;
      .button,
      .button:active,
      .button:focus {
        color: #ffdbdb;
        margin: auto;
        transform: translateY(10px);
      }
      .button:hover {
        color: #fa5882;
      }
      .prev {
        float: left;
      }
      .next {
        float: right;
      }
      .stop,
      .stop:hover {
        color: gray;
      }
    }
  }
  span.hashtag {
    color: skyblue;
    margin-left: 5px;
  }
  .no__click {
    pointer-events: none;
  }
}

.post__comments {
  display: flex;
  flex-direction: column;
  max-width: 420px;
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
  .post__comment {
    padding: 10px;
    border-radius: 9999px;
    background-color: white;
    color: black;
    margin-bottom: 10px;
  }
}
