body {
  margin: 0;
  .post__bookmark {
    width: 100%;
    height: 40px;
    i {
      float: left;
      font-size: 20px;
      &:hover {
        color: gray;
      }
    }
  }
  .post__bookmarked {
    width: 100%;
    height: 40px;
    i {
      float: left;
      font-size: 20px;
      &:hover {
        color: gray;
      }
    }
  }
  .post__title {
    text-align: left;
    margin-bottom: 20px;
    h2 {
      font-size: 25px;
    }
  }
  .container {
    display: none;
    transition: transform 0.5s;
    margin: 0 auto;
    .slide_wrap {
      height: 500px;
      overflow: hidden;
      .slide {
        position: relative;
        display: flex;
        height: 500px;
      }
    }
    .button_wrap {
      width: 50px;
      height: 30px;
      margin: auto;
      .button,
      .button:active,
      .button:focus {
        color: #ffdbdb;
        margin: auto;
        transform: translateY(10px);
      }
      .button:hover {
        color: #fa5882;
      }
      .prev {
        float: left;
      }
      .next {
        float: right;
      }
      .stop,
      .stop:hover {
        color: gray;
      }
    }
  }
  .post__owner {
    display: table;
    span {
      display: table-cell;
      vertical-align: middle;
    }
  }
  span.hashtag {
    color: skyblue;
    margin-left: 5px;
  }
  .no__click {
    pointer-events: none;
  }
  img.poster__avatar {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    transform: translate(50, 50);
    object-fit: cover;
  }
}

.comments__wrap {
  max-width: 800px;
  margin: 50px auto;
  #commentForm {
    & > span {
      font-weight: bold;
    }
    background-color: white;
    padding: 0px;
    max-width: 800px;
    margin: 50px auto;
    margin-bottom: 20px;
    padding: 10px;
    textarea {
      border: 1px solid rgb(216, 217, 219);
      background-color: white;
      width: 738px;
      height: 100px;
      &::placeholder {
        color: rgb(147, 148, 150);
      }
      color: black;
      margin-top: 10px;
    }
    button {
      border: none;
      background-color: pink;
      color: white;
      border-radius: 4px;
      font-size: 16px;
      font-weight: bold;
      padding: 5px 10px;
      cursor: pointer;
      float: right;
      margin-bottom: 20px;
    }
  }
  .post__comments {
    display: flex;
    flex-direction: column;
    width: 800px;
    margin-top: 20px;
    .post__comment {
      display: flex;
      padding: 10px;
      background-color: white;
      color: black;
      .post__comment--avatar {
        float: left;
        border-bottom: 1px solid rgb(230, 228, 228);
        padding-bottom: 10px;
        i.comment__icon {
          color: rgb(212, 211, 211);
          font-size: 42px;
        }
        img.comment__avatar {
          transform: translate(50, 50);
          object-fit: cover;
        }
      }
      .post__comment--box {
        padding-left: 10px;
        float: right;
        width: 100%;
        font-size: 0px;
        border-bottom: 1px solid rgb(230, 228, 228);
        padding-bottom: 10px;
        .post__comment--box-top {
          display: flex;
          width: 100%;
          margin-bottom: 8px;
          .post__comment--nickname {
            float: left;
            width: 100%;
            font-size: 16px;
          }
          .post__comment--date {
            float: right;
            width: 120px;
            font-size: 12px;
            color: rgb(173, 172, 172);
          }
        }
        .post__comment--content {
          font-size: 0px;
          margin-bottom: 12px;
          span {
            font-size: 16px;
          }
        }
        .post__comment--delete {
          font-size: 0px;
          cursor: pointer;
          span {
            font-size: 14px;
            color: rgb(173, 172, 172);
          }
        }
      }
    }
    .comment__avatar {
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
  }
}
