body {
  margin: 0;
  .container {
    visibility: hidden;
    transition: transform 0.5s;
    margin: 0 auto;
    .slide_wrap {
      height: 450px;
      overflow: hidden;
      .slide {
        position: relative;
        display: flex;
        height: 450px;
      }
    }
    .button_wrap {
      width: 50px;
      height: 30px;
      margin: auto;
      .button,
      .button:active,
      .button:focus {
        color: #ffdbdb;
        margin: auto;
        transform: translateY(10px);
      }
      .button:hover {
        color: #fa5882;
      }
      .prev {
        float: left;
      }
      .next {
        float: right;
      }
      .stop,
      .stop:hover {
        color: gray;
      }
    }
  }
  span.hashtag {
    color: skyblue;
    margin-left: 5px;
  }
}
