.profile__data {
  max-width: 420px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  img {
    margin-bottom: 10px;
  }
  h3 {
    font-size: 18px;
    margin-bottom: 2px;
  }
  .subscribers__number {
    margin-bottom: 20px;
  }
  .edit__profile {
    color: black;
  }
}

.settings {
  cursor: pointer;
  margin-bottom: 5px;
}

.user__settings {
  width: auto;
  display: none;
  color: gray;
  .withdrawal {
    margin-top: 5px;
    color: black;
    background: rgba(0, 0, 0, 0.05);
    border: none;
  }
}

.components {
  width: 100%;
  height: 40px;
  margin-top: 10px;
  .my__posts,
  .my__comments,
  .my__bookmark,
  .my__subscription {
    float: left;
    height: 40px;
    text-align: center;
    cursor: pointer;
    margin-right: 10px;
    color: rgba(0, 0, 0, 0.6);
  }
  .my__posts {
    font-weight: bold;
  }
}

.components__wrap {
  position: relative;
  height: 500px;
  width: 100%;
  a {
    color: rgba(0, 0, 0, 0.8);
  }
  .components__posts {
    position: absolute;
    height: 500px;
    width: 100%;
    z-index: 2;
    overflow: auto;
  }
  .components__comments {
    position: absolute;
    height: 500px;
    width: 100%;
    z-index: 1;
    visibility: hidden;
    overflow: auto;
  }
  .components__bookmarks {
    position: absolute;
    height: 500px;
    width: 100%;
    z-index: 0;
    visibility: hidden;
    overflow: auto;
  }
  .components__subscriptions {
    position: absolute;
    height: 500px;
    width: 100%;
    z-index: -1;
    visibility: hidden;
    overflow: auto;
  }
}
