.profile__data {
  max-width: 420px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  img {
    margin-bottom: 10px;
  }
  h3 {
    font-size: 18px;
  }
}

.settings {
  cursor: pointer;
}

.user__settings {
  width: auto;
  display: none;
}

.components {
  width: 100%;
  height: 40px;
  margin-top: 10px;
  .my__posts,
  .my__comments,
  .my__bookmark,
  .my__subscription {
    float: left;
    height: 40px;
    text-align: center;
    cursor: pointer;
    margin-right: 10px;
  }
}

.components__wrap {
  position: relative;
  height: 500px;
  width: 100%;
  .components__posts {
    position: absolute;
    height: 500px;
    width: 100%;
    z-index: 2;
    a {
      color: black;
    }
  }
  .components__comments {
    position: absolute;
    height: 500px;
    width: 100%;
    z-index: 1;
    visibility: hidden;
  }
  .components__bookmarks {
    position: absolute;
    height: 500px;
    width: 100%;
    z-index: 0;
    visibility: hidden;
  }
  .components__subscriptions {
    position: absolute;
    height: 500px;
    width: 100%;
    z-index: -1;
    visibility: hidden;
  }
}
