mixin comment(comment)
    a(href=`/posts/${comment.post.id}`).comment-mixin
        .comment-mixin__data
            span.comment-mixin__title=comment.post.title 
                .comment-mixin__meta
                    span 작성자 #{comment.post.owner.nickname}
                    br
                    .comment-mixin__comment
                        span : #{comment.text}