extends layout 

block content
    form(method="POST")
        input(placeholder="현재 비밀번호", name="oldPassword", type="password", required)
        input(placeholder="새로운 비밀번호", name="newPassword", type="password", required)
        input(placeholder="비밀번호 확인", name="confirmation", type="password", required)
        input(type="submit", value="변경")
    if errorMessage 
        .error__message
            span=errorMessage