extends layout

block content   
    .profile__data
        if loggedInUser.avatarUrl === undefined 
            i.fas.fa-user-circle.fa-5x 
        else
            img(src="/"+loggedInUser.avatarUrl, width="100", height="100" class="avatar change-avatar")
    form(method="POST", enctype="multipart/form-data").edit-profile__form
        label(for="avatar") 프로필 사진 변경
        input(type="file", id="avatar", name="avatar", accept="image/*")
        input(name="name", type="text", required, placeholder="이름", value=loggedInUser.name)
        input(name="nickname", type="text", required, placeholder="닉네임", value=loggedInUser.nickname)
        input(name="aboutuser", type="text", required, placeholder="자기소개", value=loggedInUser.aboutuser)
        input(type="submit", value="수정")
        .change-password
            a(href="change-password") 비밀번호 변경