extends layout.pug

block content 
    h4 포스트 수정
    form(method="POST")
        input(type="text", placeholder="제목", required, name="title", maxlength=30, value=post.title)
        input(type="text", placeholder="내용", required, name="content", maxlength=140, value=post.content)
        input(type="text", placeholder="해시태그", required, name="hashtags", value=post.hashtags.join().replace(/\,/gi, " "))
        input(value="저장", type="submit")