extends layout

block content   
    .profile__data(data-id=loggedInUser._id)
        .profile__data--image
            if loggedInUser.avatarUrl === undefined 
                i.fas.fa-user-circle.fa-7x 
            else if loggedInUser.avatarUrl === null
                i.fas.fa-user-circle.fa-7x
            else
                img(src="/"+loggedInUser.avatarUrl, width="100", height="100" class="avatar change-avatar")
        input(type="button", id="delete__image", value="프로필 이미지 삭제", class="delete__profile-image")
    form(method="POST", enctype="multipart/form-data").edit-profile__form
        label(for="avatar") 프로필 사진 변경
        input(type="file", id="avatar", name="avatar", accept="image/*")
        input(name="name", type="text", required, placeholder="이름", value=loggedInUser.name)
        input(name="nickname", type="text", required, placeholder="닉네임", value=loggedInUser.nickname, maxlength=16)
        input(name="aboutuser", type="text", required, placeholder="자기소개", value=loggedInUser.aboutuser, maxlength=30)
        input(type="submit", value="수정")
        .change-password
            a(href="change-password") 비밀번호 변경

block script 
    script(src="/assets/js/editprofile.js")