extends layout.pug

block content 
    form(method="POST", enctype="multipart/form-data")
        input(type="text", placeholder="제목", required, name="title", maxlength=30, value=post.title)
        input(type="text", placeholder="해시태그 ex) #해시태그 #hashtag", name="hashtags", value=post.hashtags.join().replace(/\,/gi, " "))
        label(for="image") 사진
        input(type="file", accept="image/*", id="image", name="images", multiple)
        label(for="video") 영상
        input(type="file", accept="video/*", id="video", name="videos", multiple)
        textarea(placeholder="내용 작성(최대 1000자)", class="edit-post__content", required, name="content", maxlength=1000) #{post.content}
        input(value="저장", type="submit")