extends layout.pug 

block content 
    form(method="POST", enctype="multipart/form-data")
        input(type="text", placeholder="제목", required, name="title", maxlength=25)
        input(type="text", placeholder="해시태그 ex) #해시태그 #hashtag", name="hashtags")
        label(for="image", class="upload__files") 사진(최대 8장)
        input(type="file", accept="image/*", id="image", name="images", multiple)
        label(for="video", class="upload__files") 영상(최대 3개)
        input(type="file", accept="video/*", id="video", name="videos", multiple)
        textarea(placeholder="내용 작성(최대 5000자)", id="content", name="content", required, maxlength=5000)
        input(type="submit", value="포스트")
    if errorMessage 
        .error__message
            span=errorMessage
