extends layout.pug 

block content 
    if errorMessage 
        span=errorMessage
    form(method="POST", enctype="multipart/form-data")
        input(type="text", placeholder="제목", required, name="title", maxlength=30)
        input(type="text", placeholder="해시태그", required, name="hashtags")
        label(for="video") 영상
        input(type="file", accept="video/*", id="video", name="videos", multiple)
        label(for="image") 사진
        input(type="file", accept="image/*", id="image", name="images", multiple)
        div(class="image")
        textarea(id="content", name="content", cols="117", rows="100", required, maxlength=500) 
        input(type="submit", value="포스트")
