header 
    a(href="/")
        i.fas.fa-ice-cream.fa-2x &nbsp
        span.header__title Ice Cream 
    nav 
        ul 
            li 
                a(href="/search")
                    i.fas.fa-search
            if loggedIn 
                li 
                    a(href="/posts/upload") 포스트 작성
                li 
                    a(href="/users/logout") 로그아웃
                li 
                    a(href="/users/edit-profile") 프로필 수정
                li 
                    a(href=`/users/${loggedInUser._id}`)
                        if loggedInUser.avatarUrl === undefined
                            i.fas.fa-user-circle
                        else if loggedInUser.avatarUrl === null
                            i.fas.fa-user-circle
                        else
                            img.header__avatar(src="/" + loggedInUser.avatarUrl)
            else 
                li 
                    a(href="/login") 로그인
                li 
                    a(href="/join", class="header__join") 회원가입