ul {
  list-style: none;
  .content {
    position: relative;
    width: 400px;
    margin: auto;
    padding-bottom: 30px;
  }
  .content_box {
    width: 100%;
    margin: auto;
    overflow-x: hidden;
  }
  img {
    max-width: 1000px;
    max-height: 1000px;
  }
  video {
    max-width: 1000px;
    max-height: 1000px;
  }
  .image,
  .video {
    display: table;
    float: left;
    width: 400px;
    height: 400px;
  }
}
