body {
  margin: 0;
  .container {
    visibility: hidden;
    transition: transform 0.5s;
    margin: 0 auto;
    .slide_wrap {
      height: 500px;
      overflow: hidden;
      .slide {
        position: relative;
        display: flex;
        height: 500px;
        video {
          max-height: 500px;
          width: auto;
        }
      }
    }
    .button_wrap {
      width: 50px;
      margin: auto;
      .button,
      .button:active,
      .button:focus {
        color: #ffdbdb;
        margin: auto;
        transform: translateY(10px);
      }
      .button:hover {
        color: #fa5882;
      }
      .prev {
        float: left;
      }
      .next {
        float: right;
      }
      .stop,
      .stop:hover {
        color: gray;
      }
    }
  }
}
